.navbar {
    background: linear-gradient(135deg, #ff416c, #ff4b2b, #1f4037);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin: 0 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .navbar li:hover {
    color: #ffb3b3;
  }

  nav img{
    height: 20px;
    width: 20px;
    z-index: 1;
  }
  